body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.tooltip{
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  fill:black;
}

label {
  position: absolute;
  top: 222px;
  right: 35px;
  color: #D8D8D8;
}

.mainImg {
  /*background-color: #2B3E50;*/
  border-radius: 50%;
  /*padding: 20px; */
  width: 200px;
  height: 200px;
  background-image: url("../img/children2.png");
}

.iconImg {
  background-color: #2B3E50;
  border-radius: 50%;
  padding-top: -20px;
  width: 30px;
  height: 30px;
  /*background-image: url("../img/children3.jpg"); */
}

.parallax {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.background-overlay {
  /*height: 359px;*/
  background-image: url("../img/children2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 50px;
}

.no-opacity {
  opacity: 1;
}

.pstyle {
  font-size: 17px
}

.hjustify {
  text-align: justify;
}


.link-color{
  color: #57B99D;
}

.navbar-nav {
    color: white;
}

ul{
  margin-left:0px;
}
